.header__button {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;    
    color: #A9A9A9;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header__button:hover {
    cursor: pointer;
    opacity: 0.6;
}