.header__logo {
  padding: 45px 0 41px;
  height: 33px;
  width: 142px;
}

@media screen and (max-width: 767px) {
  .header__logo {
      padding: 28px 0 31px;
      height: 25px;
      width: 104px;
  }
}